body {
  background-color: black;
}

.propio {
  background-color: red;
}

.t-prop {
  font-size: 30px;
  font-weight: 800;
}

.menu-prop {
  font-weight: 900;
}

.boton-prop {
  background-color: black;
  border-color: white;
  color: white;
}

/* MAIN */
.cont1 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sub {
  padding: 16px;
  border: 1px solid red;
  border-radius: 5px;
  width: 600px;
}

.img1 {
  padding: 0px;
  width: 350px;
}
.img1 img {
  width: 100%;
}

h2 {
  color: red;
}

h3 {
  color: white;
}

p {
  color: white;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  border: 20px;
}

.final {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
}

/* PAGINA NOSOTROS */
.imggg {
  position: relative;
  margin-left: 24px;
  width: 1250px;
  height: 400px;
  background-color: #dfe4ea;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}
.imggg .back-img {
  width: 100%;
}
.imggg .back-img:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
.imggg .text-center {
  width: 700px;
  margin-top: -115px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.content {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content h1 {
  color: orange;
  font-size: 30px;
}
.content h2 {
  color: red;
  font-size: 50px;
}
.content h4 {
  color: red;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
}
.content p {
  font-size: 30px;
  color: white;
  text-align: center;
}

.imgg {
  position: relative;
  left: -245px;
  width: 1250px;
  height: 400px;
  background-color: #dfe4ea;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}
.imgg .imgn2 {
  width: 100%;
}
.imgg .imgn2:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}

.gridm {
  display: grid;
  grid-template-rows: 143px 404px;
  grid-template-columns: 437px 311px;
  gap: 16px;
  grid-template-areas: "section-title section-title" "right-t text-start";
}
.gridm .section-title {
  grid-area: section-title;
  color: white;
}
.gridm .right-t {
  grid-area: right-t;
}
.gridm .text-start {
  grid-area: text-start;
  font-size: 25px;
  color: white;
  text-decoration: color red;
}

.footer {
  background-color: #dfe4ea;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* PAGINA INTERESES */
.descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}
.descrip h1 {
  font-weight: bold;
}
.descrip p {
  font-size: 20px;
}

.pre-tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: red;
}

.card-libros {
  padding: 16px;
  border: 1px solid red;
  width: 400px;
  overflow: hidden;
}
.card-libros img {
  width: 100%;
  padding: 10px;
}
.card-libros img:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
.card-libros h1 {
  color: white;
  font-size: 40px;
  padding-top: 10px;
}
.card-libros h2 {
  color: orange;
  padding-bottom: 8px;
}

.boton {
  text-decoration: none;
  color: red;
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
}

.sec-libros {
  display: flex;
  flex-direction: row;
}

/* PAGINA GENEROS */
.descrip1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}
.descrip1 h1 {
  font-weight: bold;
}
.descrip1 p {
  font-size: 20px;
}

.pre-tit1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: red;
}

.card-libros {
  padding: 16px;
  border: 1px solid red;
  width: 400px;
  overflow: hidden;
}
.card-libros img {
  width: 100%;
  padding: 10px;
}
.card-libros img:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
.card-libros h1 {
  color: white;
  font-size: 40px;
  padding-top: 10px;
}
.card-libros h2 {
  color: orange;
  padding-bottom: 8px;
}

.boton {
  text-decoration: none;
  color: red;
  padding: 8px;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
}

.sec-libros1 {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
  margin-right: 72px;
  height: 400px;
}

.boton-p {
  padding-left: 143px;
  margin-left: -142px;
}

.boton-n {
  padding-right: 143px;
  margin-right: -142px;
}

.p-final {
  position: relative;
  width: 1000px;
  height: 900px;
  max-width: 100%;
  margin: auto;
  background-color: #dfe4ea;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
}
.p-final .imgn3 {
  width: 1000px;
  height: 900px;
  display: block;
  object-fit: cover;
}
.p-final .text-c {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}
.p-final .text-c p {
  color: black;
  font-size: 40px;
}

/*# sourceMappingURL=estilos.css.map */
